

.App {
  margin: 0px;
  background-color:white;


}


.wrap{
  background-color: rgb(246, 251, 244);
  height: 100%;
  margin-left: 12.5%;
  margin-top: 50px;
  padding-top: 70px;


 
}
.body_column {
  text-align: left;

}


