.wrap{
    background-color: rgb(246, 251, 244);
    width: 75%;
    height: 100%;
    margin-left: 12.5%;
    /*border:solid;
    border-radius: 10px;
    border-color:rgb(223, 243, 215) ;*/
  }
  .body_column {
    margin-top: 100px;      

}
.all_submission{
    margin-bottom: 50px;
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 550px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: white;
  }
  td{
    padding: 10px;
  }
  /* Next Previous button*/
  .next_previou_button{
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .next_previou_button a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  .next_previou_button  a:hover {
    background-color: #ddd;
    color: black;
  }
  .verdict{
     color: rgb(95, 208, 104);
     font-weight: bold;
  }
  .previous,.next {
    background-color:white;
    color: black;
   
  }
  
  
  .round {
    border-radius: 50%;
  }