.editor{
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: break-word;
  
}
.customInput{
    height: 14em;
    width: 50em;
}
.run_btn{
   width: 100px;
   height: 35px;
}
.submit_btn{
   width: 100px;
   height: 35px;
}